.member-list {
    /* flex: 0 0 auto; This column doesn't grow or shrink */
    /* float: left; */
    width: max-content; /* Set the width you want for the MemberList */
    max-width: 20%;
  }

li {
    border: 2px solid #415d6c;
    background-color: #3b3b3b;
    color: white;
    border-radius: 3.5px;
    padding: 10px;
    margin: 10px 0;
}