.member-list {
    /* flex: 0 0 auto; This column doesn't grow or shrink */
    /* float: left; */
    width: max-content; /* Set the width you want for the MemberList */
    max-width: 20%;
  }

li {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}